<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AOIJAI</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .logo {
            position: relative;
            left: 5%
        }

        div.logo div {
            font-size: 20px;
            position: absolute;
            bottom: 40px;
            left: 110px;
        }

        div.promote {
            position: relative;
        }

        div.promote h1 {
            word-wrap: break-word;
            width: 400px;
            color: white;
            position: absolute;
            text-align: center;
            left: 100px;
            bottom: 50px;
        }

        div.intro {
            position: relative;
            word-wrap: break-word;
            width: 50%;
            left: 50px;
            top: 50px;
        }

        div.crops {
            position: absolute;
            top: 680px;
            right: 0px;
            width: 45%;
        }

        div.crops div.c {
            margin: 5px;
            border: 1px solid black;
            padding: 5px;
        }

        div.crops div.c div.desc1 {
            position: absolute;
            top: 17%;
        }

        div.crops div.c div.desc2 {
            position: absolute;
            top: 47%;
        }

        div.crops div.c div.desc3 {
            position: absolute;
            top: 80%;
        }

        div.crops div.c img {
            position: relative;
            left: 50%;

        }

        label.form-label {
            color: white;
        }

        div.invalid-feedback {
            color: #132506;
        }
    </style>
</head>

<body>
    <div class="logo">
        <img src="../static/img/Logo_DS.png" alt="" width="100" height="100">
        <div class=logo_desc>Data Science Faculty of Science, Chiang Mai University</div>
    </div>
    <div class="promote">
        <img src="../static/img/rice_tablet.png" alt="" width="100%">
        <h1>อนาคตราคาและปริมาณผลผลิตเป็นเรื่องที่ไม่แน่นอน ให้เราเป็นส่วนหนึ่งที่ช่วยให้การตัดสินใจของคุณง่ายขึ้น
    </div>
    </div>
    <div class="intro">เว็บไซต์เกี่ยวกับการทำนายปริมาณผลผลิต และราคาผลผลิต
        ของพื้นเศรษฐกิจทางการเกษตร
        สำหรับใน 17 จังหวัดภาคเหนือ
        ได้แก่ ข้าวนาปี ข้าวนาปรัง ข้าวโพด และอ้อย
        โดยวิเคราะห์จากปัจจัยพื้นฐานต่างๆ
        เพื่อสร้างความมั่นใจในการเพาะปลูก
        ให้กับเกษตรกรให้มากยิ่งขึ้น</div>
    <div class="crops">
        <div class="topic">ผลผลิตทางการเกษตร</div>
        <div class="c">
            <div class="desc1">ข้าวนาปี/ข้าวนาปรัง</div>
            <img src="../static/img/Rice0.jpg" alt="" width="200px">
        </div>
        <div class="c">
            <div class="desc2">ข้าวโพด</div>
            <img src="../static/img/corn22.png" alt="" width="200px">
        </div>
        <div class="c">
            <div class="desc3">อ้อยโรงงาน</div>
            <img src="../static/img/sugarcane22.png" alt="" width="200px">
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3 text-center" style="background-color: #132506; padding: 5px;">
                <h2 style="color: white;">ข้อมูลที่ใช้ในการวิเคราะห์และทำนาย</h2>
                <form id="contact-form" action="/" method="POST">
                    <div style="text-align:center;">
                        <div class="inbd">
                            <label for="product" class="form-label">ชนิดของผลผลิต</label>
                            <select class="form-select" id="product" name="product" required="">
                                <option value="">--กรุณาเลือก--</option>
                                <option>ข้าวนาปี</option>
                                <option>ข้าวนาปรัง</option>
                                <option>ข้าวโพดเลี้ยงสัตว์</option>
                                <option>อ้อยโรงงาน</option>
                            </select>
                            <div class="invalid-feedback">
                                กรุณาเลือกผลผลิตที่ต้องการเพาะปลูก
                            </div>
                        </div>
                    </div>

                    <div style="text-align:center;">
                        <div class="inbd">
                            <label for="province" class="form-label">จังหวัด</label>
                            <select class="form-select" id="province" name="province" required="">
                                <option value="">--กรุณาเลือก--</option>
                                <option>เชียงใหม่</option>
                                <option>เชียงราย</option>
                                <option>แม่ฮ่องสอน</option>
                                <option>ลำพูน</option>
                                <option>ลำปาง</option>
                                <option>พะเยา</option>
                                <option>น่าน</option>
                                <option>แพร่</option>
                                <option>ตาก</option>
                                <option>กำแพงเพชร</option>
                                <option>พิจิตร</option>
                                <option>อุตรดิตถ์</option>
                                <option>พิษณุโลก</option>
                                <option>สุโขทัย</option>
                                <option>นครสวรรค์</option>
                                <option>เพชรบูรณ์</option>
                                <option>อุทัยธานี</option>
                            </select>
                            <div class="invalid-feedback">
                                กรุณาเลือกจังหวัดที่ต้องการเพาะปลูก
                            </div>
                        </div>
                    </div>

                    <div style="text-align:center;">
                        <div class="inbd">
                            <label for="area" class="form-label">ขนาดพื้นที่เพาะปลูก(ไร่)</label>
                            <input type="number" class="form-control" id="area" name="area" placeholder="ใส่ขนาดพื้นที่"
                                required="">
                            <div class="invalid-feedback">
                                กรุณาใส่ขนาดพื้นที่ในการเพาะปลูก
                            </div>
                        </div>
                    </div>

                    <div style="text-align:center;">
                        <div class="inbd">
                            <label for="month" class="form-label">ราคาผลผลิตของเดือนที่ต้องการสำหรับปี {{year}}</label>
                            <select class="form-select" id="month" name="month" required="">
                                <option value="">--กรุณาเลือก--</option>
                                <option>มกราคม</option>
                                <option>กุมภาพันธ์</option>
                                <option>มีนาคม</option>
                                <option>เมษายน</option>
                                <option>พฤษภาคม</option>
                                <option>มิถุนายน</option>
                                <option>กรกฎาคม</option>
                                <option>สิงหาคม</option>
                                <option>กันยายน</option>
                                <option>ตุลาคม</option>
                                <option>พฤศจิกายน</option>
                                <option>ธันวาคม</option>
                            </select>
                            <div class="invalid-feedback">
                                กรุณาเลือกเดือนที่ต้องการเพาะปลูก
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    </hr>
                    <div style="text-align:center;">
                        <!-- <input type="submit" value="classify"> -->
                        <input class="btn btn-primary btn-lg" type="submit" value="ทำนาย"></input>
                    </div>

                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 4 border rounded-3 text-center" style="background-color: #89a831; padding: 5px;">
                <h2>ผลลัพธ์ในการวิเคราะห์และทำนาย</h2>
                <!-- <p>จะได้ปริมาณผลผลิตที่คาดการณ์ ประมาณ 300 กิโลกรัม</p>
                <p>ราคาของผลผลิตที่คาดการณ์ 5บาท/กิโลกรัม</p> -->
                <span style="font: size 30px;">{{prediction}}</span>
            </div>
        </div>
    </div>
    <!-- Footer -->
<footer id="colophon" class="site-footer">
    <div id="top-footer">
      <div class="container">
        <div class="top-footer clearfix">
          <div class="footer footer1">
            <aside id="recent-posts-3" class="widget widget_text">
              <div class="textwidget">
                <h2 class="widget-title">ทุนสนับสนุน</h2>
                <div class="content">
                  <div class="col-md-8">
                    <h4>
                      <p>โครงการพัฒนานวัตกรรมด้านวิทยาการข้อมูล ประจำปีงบประมาณ 2565</p>
                      <p>โครงการจัดตั้งศูนย์วิจัยวิทยาการข้อมูล คณะวิทยาศาสตร์ มหาวิทยาลัยเชียงใหม่</p>
                    </h4>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  
    <hr class="my-4">
    </hr>
  
    <div id="middle-footer">
      <div class="container">
        <aside id="text-3" class="widget widget_text">
          <div class="textwidget">
            <h4 class="section">คณะผู้วิจัยและจัดทำ</h5>
            <div class="content">
              <p> 1. ผศ. ดร.สมภพ มูลชัย ภาควิชาคณิตศาสตร์</p>
  
              <p> 2. ผศ. ดร.จักรเมธ บุตรกระจ่าง ภาควิชาวิทยาการคอมพิวเตอร์</p>
  
              <p> 3. อ. ดร.นวพร นาคหฤทัย ภาควิชาสถิติ</p>
  
              <p> 4. นายโสภณัฐ พงษ์มารุทัย สาขาวิทยาการข้อมูล</p>
  
              <p> 5. นางสาวกฤติญา แสวงวงค์ สาขาวิทยาการข้อมูล</p>
  
              <p> 6. นางสาวปรีชญาภัทร์ ช่างคำ สาขาวิทยาการข้อมูล</p>
            </div>
          </div>
        </aside>
      </div>
    </div>
  
    <hr class="my-4">
    </hr>
  
    <div id="middle-footer">
      <div class="container">
        <aside id="text-3" class="widget widget_text">
          <div class="textwidget">
            <h4 class="section">ออกแบบเว็บไซต์</h5>
            <div class="content">
              <p>นางสาวสุทธิดา ลือชัย สาขาวิทยาการข้อมูล</p>
            </div>
          </div>
        </aside>
      </div>
    </div>
  
    <hr class="my-4">
    </hr>
  
    <div id="middle-footer">
      <div class="container">
        <aside id="text-3" class="widget widget_text">
          <div class="textwidget">
            <h4 class="section">ศูนย์วิจัยวิทยาการข้อมูล</h5>
            <div class="content">
              <p>คณะวิทยาศาสตร์, มหาวิทยาลัยเชียงใหม่</p>
              <p>239 ถนนหห้วยแก้ว, สุเทพ, เมือง, เชียงใหม่ 50200 ประเทศไทย โทร. 053-941986 Email : ds.sci.cmu@gmail.com
              </p>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
</body>

</html>